{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block pageTitle %}Se connecter!{% endblock %}

{% block body %}
<form method="post">
  {% if error %}
  <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}

  {% if app.user %}
  <div class="uk-margin-small-bottom">
    <p>Vous êtes connecté.e en tant que <strong>{{ app.user.username }}</strong></p>
    <a class="uk-button uk-button-secondary uk-button-small" href="{{ path('app_logout') }}">Quitter</a>
  </div>
  {% endif %}

  <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
  <div class="uk-margin-small-bottom">
    <label for="inputUsername">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="uk-input" autocomplete="username" required autofocus>
  </div>
  <div class="uk-margin-large-bottom">
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="uk-input" autocomplete="current-password" required>
  </div>


  <input type="hidden" name="_csrf_token"
  value="{{ csrf_token('authenticate') }}"
  >

  {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" name="_remember_me"> Remember me
      </label>
    </div>
    #}

    <button class="uk-button uk-button-primary uk-button-small uk-width-1-1" type="submit">
      Connexion
    </button>
  </form>
  {% endblock %}
